div.navbar {
  position:fixed;
  top:0;
  width:100%;
  a.brand {
    color: black;
  }
  .nav {
    margin-top: 25px;
    li {
      margin-top:10px;
      a {
        color: black;
        font-size: 16px;
      }
    }
  }
  .navbar-inner {
    background-color: #c7eafb;
    background-image:none;
    border-radius:0px;
  }
  .container {
    width:940px;
  }
  .logo {
  	img { padding: 10px 0; }
  }
}
