@import "bootstrap";
@import "jquery.ui.autocomplete";
@import "books";
@import "pages";
@import "layouts/header";
@import "layouts/footer";
@import "dataTables/jquery.dataTables.bootstrap";
@import "chosen";

@media print {
  .nav { display: none !important; }
  .table-striped th:nth-last-child(-n+3), .table-striped td:nth-last-child(-n+3) {
    display: none;
  }
  footer { display: none; }
}
