.book_title {
	border-bottom: 1px solid #00aeef;
}

.call_number {
	background: #00aeef;
	padding: 20px;
	width: 200px;
	font-size: 16px;
	text-align: center;
	.number {
		color: white;
		font-size: 24px;
	}
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
