body {
//  font-family: 'Fauna One', serif;
}

b {
  color:#00B3AB;
}

.content {
  margin-top: 75px;
}

.search_container {
	margin: 50px 0;
}

ul.search_filters {
	list-style-type: none;
	li {
		display: inline-block;
		width: 30%;
	}
}

.center {
	text-align: center;
}

input[type="radio"] {
	display: none;
}

span.badge {
	font-size: 24px;
	line-height: 28px;
}