<footer>
  <p>
    <span class="copyright"><%= DateTime.now().strftime('%Y') %> &copy;</span>
     Built by <%= link_to 'Liz Sarb', 'http://lizsarb.com', target: '_blank' %> | <%= link_to 'LaunchPad Lab', 'http://launchpadlab.com', target: '_blank' %>
  </p>
</footer>