<footer>
  <hr>
  <p>
    <span class="pull-left">
      <%= DateTime.now().strftime('%Y') %> &copy;
    </span>
    <span class="pull-right">
      Built by <%= link_to 'Liz Sarb', 'http://lizsarb.com', target: '_blank' %> | <%= link_to 'LaunchPad Lab', 'http://launchpadlab.com', target: '_blank' %>
    </span>
  </p>
</footer>